{% extends 'pages/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}
  <style>
    body {
      background-color: gray;
    }
  </style>

  <br />

  <div class="container bg-white shadow-md p-5 form-layout">
    <h3 class="text-center">Parol sıfırlama tamamlandı </h3>

    <hr />
    <br />

    <p>Yeni şifrenizi başarılı bir şekilde oluşturdunuz giriş yapabilirsiniz.</p>

    <a href="{% url 'my-login' %}" class="btn btn-primary my-2">Giriş Yap</a>
  </div>
{% endblock %}
